.note {
    font-size: 12px;
}

.desc {
    font-size: 18px;
}

.blue {
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 20px;    
}