  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-5 mt-2" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Payez l'abonnement de votre salle de sport en ligne</strong>
              </h1>

              <p>
                <strong>Votre confort, c'est notre bonheur</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Une méthode de paiement en ligne est à votre disposition pour vous adhérer à notre salle de sport ou même prolonger votre abonnement sans vous gêner</strong>
              </p>

              <a href="#offres" class="btn btn-outline-white btn-lg">
                Voir nos offres
                <i class="fas fa-dumbbell ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Learn Bootstrap 4 with MDB</strong>
              </h1>

              <p>
                <strong>Best & free guide of responsive web design</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and
                  written versions
                  available. Create your own, stunning website.</strong>
              </p>

              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
                free tutorial
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Learn Bootstrap 4 with MDB</strong>
              </h1>

              <p>
                <strong>Best & free guide of responsive web design</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and
                  written versions
                  available. Create your own, stunning website.</strong>
              </p>

              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
                free tutorial
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>
    <div class="container">

      
      <!--Section: Products v.3-->
      <section id="blue-pass-sport" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/blue-PASS-.png" alt="Blue Pass">
          <div class="row">
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
              <p class="note">
                *Pour le Blue Pass-Sport par prélèvement vous serez invités à effectuer un paiement initial de 170 DT. Choisissez la date de votre prélèvement, un montant de 89DT/Mois sera prélevé automatiquement de votre compte bancaire avec un engagement d’une durée minimale d’un an.
              </p>
            </div>
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
          </div>
        </div>
        
      </section>
      <section id="yellow-pass-sport" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/Yellow-PASS-_.png" alt="Yellow Pass">
          <div class="row">
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
              <p class="note">
                *Pour le Yellow Pass-Sport par prélèvement vous serez invités à effectuer un paiement initial de 130 DT. Choisissez la date de votre prélèvement, un montant de 69DT/Mois sera prélevé automatiquement de votre compte bancaire avec un engagement d’une durée minimale d’un an.
              </p>
            </div>
          </div>
        </div>
        
      </section>
      <section id="junior-pass-sport" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/LOGO-junior.png" alt="Junior Pass">
          <div class="row">
            <div class="col-8 my-auto">
              <p class="desc">
                Le junior Pass-Sport, est destiné aux jeunes de 13 à 17 ans, donnant accès à tous les clubs California Gym, pendant les horaires suivants : Du lundi au vendredi : de 7h à 17h30 Samedi et dimanche : de 8h à 18h
L’adhérent Junior a accès aux machines guidées et aux cours Junior uniquement.
              </p>
            </div>
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
          </div>
        </div>
        
      </section>
      <section id="kids-club" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/club-enfants-1.png" alt="Kids Club">
          <div class="row">
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
            </div>
          </div>
        </div>
        
      </section>
      <section id="taekwondo-kids" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/taekwondo-E.png" alt="Taekwondo Kids">
          <div class="row">
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
            </div>
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
          </div>
        </div>
        
      </section>
      <section id="piscine-kids" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/PISCINE-ENFANTS-1.png" alt="Piscine Kids">
          <div class="row h-100">
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
            </div>
          </div>
        </div>
        
      </section>
      <section id="kids-island" class="mb-4">

        <div>
          <img class="m-4" src="../../assets/kids-island-1.png" alt="Kids Island">
          <div class="row">
            <div class="col-8 my-auto">
              <p class="desc">
                Description
              </p>
            </div>
            <div class="col">
              <img src="https://www.3dtrophyfactory.com/wp-content/uploads/2019/05/placeholder.png" width="300px" height="150px" alt="">
            </div>
          </div>
        </div>
        
      </section>
      <!--Section: Products v.3-->

      
    </div>
  </main>
  <!--Main layout-->

  
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
